body{
    background: #eee;
}

.wrapper{
    padding: 20px;
    max-width: 960px;
    background: #fff;
    margin: 0 auto;
    position: relative;
    z-index: 0;
} 

.wrapper:after{
    content: "";
    display: block;
    clear: both;
}
.services{
    max-height: 150px;
    overflow: hidden;
}
.services:after{
    content: "";
    display: block;
    clear: both;
}
.service h2, .service p{
    color: #999;
    margin: 10px 0;
    text-align: center;
}
.service {
    float: left;
    background: #eee;
    width: 29.33%;
    margin: 1%;
    padding: 1%;
    height: 140px;
    position: relative;
}
.service:nth-child(1){
    top: 5px;
}
.service:nth-child(2){
    top: 15px;
}
.service:nth-child(3){
    top: 25px;
}
.content{
    padding: 10px;
    clear: left;
    margin: 20px 1%;
    position: relative;
   
}
.content p{
    -webkit-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 50px;
    column-gap: 50px;
    -webkit-column-rule: 1px solid #ccc;
    column-rule: 1px solid #ccc;
    text-align: justify;
}
section, aside{
    float: left;
    width: 46%;
    padding: 1%;
    margin: 1%;
    background: #f2f2f2;
}
.columns:after{
    display: block;
    content: "";
    clear: both;
}
#banner {
    max-height: 300px;
    overflow: hidden;
    margin: 1%;
    position: relative;
    z-index: 2;
}
#banner h2{
    position: absolute;
    top: 30px; 
    margin: 0;
    width: 100%;
    text-align: center;
    color: rgb(236, 11, 44);
}
nav{
    background: #333;
    padding: 5px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}
nav li{
    list-style-type: none;
    margin: 0 10px;
    color: white;
    float: right;
}
nav ul:after{
    content: "";
    display: block;
    clear: both;
}